# this file belongs in /etc/udev/rules.d/
# ATTR{product}==""
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0666", SYMLINK+="dobot"
